
.container {
  display: flex;
  flex-direction: column; 
  gap: 4px;
}

.select {
  background-color:  #24292E;
    border: 2px solid #1C1F22;
  width: 100%;
  font-size: clamp(0.5rem, 2dvw, 1.1rem);
  color: #E7EBEE;
  margin: 0;
  padding: 0;
  line-height: normal;
}

.selectLabel {
font-size: clamp(0.5rem, 2dvw, 1.1rem);
color: #E7EBEE;
margin: 0;
  padding: 0;
  display: block; 
  margin-bottom: 10px;
}

@media (max-width: 1025px) {
  .select {
    font-size: clamp(0.8rem, 2dvw, 1.7rem);
    
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 10px;
  }

  .selectLabel {
    padding: 0;
    margin-bottom: 5px;
    font-size: clamp(0.8rem, 2dvw, 1.7rem);
  }
  
}