.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  max-height: 770px;
  width: 30dvw;
  align-items: start;
  padding-left: 1rem;
  background-color: var(--grey-500);
  box-sizing: border-box;
}

.betBtn {
  margin-top: 3dvh;
}

.balance {
  margin-top: 3dvh;
}

