.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
   width: 90dvw;
  max-width: 700px;
  height: 70dvh;
  max-height: 800px;
  align-items: start;
  padding-left: 1rem;
  background-color: var(--grey-500);
  box-sizing: border-box;
}

.betBtn {
  margin-top: 3dvh;
}

.balance {
  margin-top: 3dvh;
}

