.fieldWrapper  {
  display: flex;
  justify-content: center;
  background-color: var(--grey-700);
  width: 100%;
  height: 100%;
  max-height: 900px;
}

.field{
 padding: 1rem;
 position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  max-width: 34rem;
  min-width: 33rem;
  gap: 0.5rem;
  max-height: 900px;
}

.text {
position: absolute;
background-color: #711d1d;
 display: none;
 height: 5rem;
 text-align: center;
 font-size: 4rem;
 left: 0;
 right: 0;
 top: 15rem;
 z-index: 99;
}

.boom {
  display: inline;
}

.win {
  display: inline;
  font-size: 3rem;
  background-color: #108b4b;
  height: 10rem;
}