.input{
  background-color: var(--grey-700);
  width: 98%;
  height: 100%;
 font-size: clamp(0.5rem, 2dvw, 1.1rem);
 color: #E7EBEE;
  display: flex;
    align-items: center;
    background-color:  #24292E;
    border: 2px solid #1C1F22;
}

.intputLabel {
font-size: clamp(0.5rem, 2dvw, 1.1rem);
color: #E7EBEE;
padding: 0;

}

.inputBlock{
  position: relative;
}

.svg {
  width:clamp(0.4rem, 3dvw, 1.2rem) ;
}

.isHidden {
  display: none;
}


.btc {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
  pointer-events: none;
}



@media (max-width: 1024px) {
  .input {
    font-size: clamp(0.8rem, 2dvw, 1.7rem);
  }

  .intputLabel {
    font-size: clamp(0.8rem, 2dvw, 1.7rem);
  }
  
}