@import './normalize.css';
@import './variables.css';




body {
  margin: 0;
 font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 70dvh;
  max-height: 900px;
  background-color: #16191D;
}

html {
  font-size: 20px;
}



@media (max-width: 1024px) {
  #root {
    overflow: scroll;
    margin: 0;
    padding: 0;
    height: 100dvh;
    max-height: 100dvh;
    justify-content: center;
    align-items: start;
  }
  
}

